<!DOCTYPE html>
<html lang="tr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <!-- plugins:css -->
    <link href="~/Content/vendors/iconfonts/simple-line-icon/css/simple-line-icons.css" rel="stylesheet" />
    <link href="~/Content/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css" rel="stylesheet" />
    <link href="~/Content/vendors/css/vendor.bundle.base.css" rel="stylesheet" />
    <link href="~/Content/vendors/css/vendor.bundle.addons.css" rel="stylesheet" />

    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <!-- endinject -->
    <link rel="shortcut icon" href="~/Content/images/favicon.png">
</head>
<body>
    <div class="container-scroller">
        <!-- partial:partials/_horizontal-navbar.html -->
        <nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
            <div class="nav-top flex-grow-1">
                <div class="container d-flex flex-row h-100 align-items-center">
                    <div class="text-center navbar-brand-wrapper d-flex align-items-center">

</div>
                    <div class="navbar-menu-wrapper d-flex align-items-center justify-content-between flex-grow-1">
                        
                        <ul class="navbar-nav navbar-nav-right mr-0 ml-auto">
                           
                          
                          
                            <li class="nav-item nav-profile dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                                    <img src="~/Content/images/faces/face4.jpeg" alt="profile">
                                    <span class="nav-profile-name">Admin</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                                    <a class="dropdown-item">
                                        <i class="icon-settings text-primary mr-2"></i>
                                        Ayarlar
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item">
                                        <i class="icon-logout text-primary mr-2"></i>
                                        Çıkış
                                    </a>
                                </div>
                            </li>
                        </ul>
                        <button class="navbar-toggler align-self-center" type="button" data-toggle="minimize">
                            <span class="icon-menu"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="nav-bottom">
                <div class="container">
                    <ul class="nav page-navigation">
                        <li class="nav-item">

                            <a href="/Admin/Home/Index" class="nav-link"><i class="link-icon icon-screen-desktop"></i><span class="menu-title">Başlangıç</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link"><i class="link-icon  icon-paper-clip"></i><span class="menu-title">İLANLAR</span><i class="menu-arrow"></i></a>
                            <div class="submenu">
                                <ul class="submenu-item">

                                    <li class="nav-item"><a class="nav-link" href="#">İlan Ekle</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#">İlan Düzenle</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#">İlan Sil</a></li>

                                </ul>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link"><i class="link-icon  icon-pencil"></i><span class="menu-title">SAYFALAR</span><i class="menu-arrow"></i></a>
                            <div class="submenu">
                                <ul class="submenu-item">

                                    <li class="nav-item"><a class="nav-link" href="#">Sayfa Ekle</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#">Sayfa Düzenle</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#">Sayfa Sil</a></li>

                                </ul>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link"><i class="link-icon icon-people"></i><span class="menu-title">ÜYELER</span><i class="menu-arrow"></i></a>
                            <div class="submenu">
                                <ul class="submenu-item">

                                    <li class="nav-item"><a class="nav-link" href="#">Üye Ekle</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#">Üye Düzenle</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#">Üye Sil</a></li>

                                </ul>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link"><i class="link-icon   icon-direction"></i><span class="menu-title">ILLER</span><i class="menu-arrow"></i></a>
                            <div class="submenu">
                                <ul class="submenu-item">

                                    <li class="nav-item"><a class="nav-link" href="#">İl Ekle</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#">İl Düzenle</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#">İl Sil</a></li>

                                </ul>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link"><i class="link-icon icon-directions"></i><span class="menu-title">  İLÇELER</span><i class="menu-arrow"></i></a>
                            <div class="submenu">
                                <ul class="submenu-item">

                                    <li class="nav-item"><a class="nav-link" href="#">İlçe Ekle</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#">İlçe Düzenle</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#">İlçe Sil</a></li>

                                </ul>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link"><i class="link-icon icon-social-github"></i><span class="menu-title">TÜRLER</span><i class="menu-arrow"></i></a>
                            <div class="submenu">
                                <ul class="submenu-item">

                                    <li class="nav-item"><a class="nav-link" href="#">Tür Ekle</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#">Tür Düzenle</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#">Tür Sil</a></li>

                                </ul>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link"><i class="link-icon icon-shuffle"></i><span class="menu-title">CİNSLER</span><i class="menu-arrow"></i></a>
                            <div class="submenu">
                                <ul class="submenu-item">

                                    <li class="nav-item"><a class="nav-link" href="#">Cins Ekle</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#">Cins Düzenle</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#">Cins Sil</a></li>

                                </ul>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a href="/Admin/GeneralSetting/List" class="nav-link"><i class="link-icon icon-settings"></i><span class="menu-title">AYARLAR</span></a>

                        </li>




                    </ul>
                </div>
            </div>
        </nav>
        <!-- partial -->
        @RenderBody()


        <footer class="footer">
            <div class="w-100 clearfix">
                <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018 Tüm Hakları Saklıdır..</span>
                <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">İstanbul'da <i class="icon-heart text-danger"></i> Yapıldı.</span>
            </div>
        </footer>
        <!-- partial -->
    </div>
    <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/Content/vendors/js/vendor.bundle.base.js"></script>
<script src="~/Content/vendors/js/vendor.bundle.addons.js"></script>
    
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="~/Content/js/template.js"></script>

    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="~/Content/js/dashboard.js"></script>

    <script src="~/Content/js/todolist.js"></script>

    <!-- End custom js for this page-->
</body>
</html>
